.uploadFormWrapper { /* stylelint-disable */
  color: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10% 0;
  background: url('./contemporary_china_2.png') repeat;
}

.uploadForm {
  width: 900px;
  max-width: 90%;
  background: #fafafa;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0,0,0,.117647),0 1px 4px lightgrey;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.uploadFormHeader {
  font-size: 2.5em;
}

.imageSelect,
.submitButton {
  margin: 20px;
}

button {
  background-color: whitesmoke;
  font-size: 2em;
  font-weight: bold;
  color: darkslategrey;
  border-radius: 4px;
  padding: 1em;
  line-height: 0;
  box-shadow: 0 1px 6px rgba(0,0,0,.117647),0 1px 4px lightgrey;
}

.submitButton {
  margin: 1.5em 0 0.75em;
}

.submitButton:hover {
  background-color: lightgrey;
  color: black;
  cursor: pointer;
  transition: all 200ms ease;
}

.previewImage {
  max-width: 90%;
  height: auto;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0,0,0,.117647),0 1px 4px grey;
}