.uploadFormWrapper { /* stylelint-disable */
  color: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 50px 0;
  flex-grow: 1;
  width: 100%;
  background: url('./contemporary_china_2.png') repeat;
}

.uploadForm {
  margin: 2em 0;
  width: 90%;
  max-width: 1200px;
  background: #fafafa;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0,0,0,.117647),0 1px 4px lightgrey;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.uploadForm :global {
  animation: flex-fade-in 500ms ease-in-out forwards!important;
}

.uploadFormHeader {
  font-size: 2.5em;
  margin: 1em 0 0;
  text-align: center;
}

.uploadFormSubHeader {
  margin-bottom: 2em;
}

.imageSelect,
.submitButton {
  margin: 20px;
}

.button {
  background-color: whitesmoke;
  color: darkslategrey;
  border-radius: 4px;
  line-height: 0;
  box-shadow: 0 1px 6px rgba(0,0,0,.117647),0 1px 4px lightgrey;
  transition: all 200ms ease;
}

.dropZone {
  border: 1px solid lightgray;
  min-height: 250px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: all 200ms ease;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0,0,0,.117647),0 1px 4px lightgrey;
}

.dropZone:hover {
  background: darkslategray;
  color: whitesmoke;
  border-color: white;
}

.dropZone:active {
  border: 1px dashed white;
}

.dropZone > * {
  margin: 20px;
}

.dropZoneText {
  text-align: center;
}

.openFileBrowserButton {
  font-size: 1.5em;
  padding: 1em;
  font-weight: bold;
}

.submitButton {
  margin: 1.5em 0 0.75em;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
}

.openFileBrowserButton:hover,
.submitButton:hover {
  background-color: lightgrey;
  color: black;
  cursor: pointer;
  transition: all 200ms ease;
}

.previewImageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.previewImage {
  width: 800px;
  max-width: 100%;
  height: auto;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0,0,0,.117647),0 1px 4px grey;
}

.selectAnotherText {
  text-align: center;
}

.clearImage {
  margin: 2em .5em;
  cursor: pointer;
  transition: all 400ms ease;
  font-weight: bold;
}

.clearImage:hover {
  font-weight: bold;
}