
/* Utility CSS Classes */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
  cursor: default;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.shadow-sm {
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
}

.shadow-sm-dark {
  box-shadow: 0 1px 4px slategrey;
}

.shadow-sm-dark-bottom {
  box-shadow: 0 1px 4px -2px slategrey;
}

.shadow-md {
  box-shadow: rgba(0, 0, 0, 0.156863) 0 3px 8px, rgba(0, 0, 0, 0.227451) 0 3px 10px;
}

.shadow-lg {
  box-shadow: rgba(0, 0, 0, 0.188235) 0 5px 10px, rgba(0, 0, 0, 0.227451) 0 6px 10px;
}

/* Transitions for smoother changes */
button, svg {
  transition: all 200ms ease-in-out;
}

textarea {
  resize: vertical!important;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar:hover {
  display: inherit;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px lightgray;
  background: whitesmoke;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #d4d4d4;
  transition: background 200ms;
  opacity: 0.8;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: lightgray;
}

/* Fade-in Images */
img, svg {
  animation: flex-fade-in 500ms ease-in-out forwards!important;
}

@keyframes :global(flex-fade-in) {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
