.login {
  display: inline;
  width: 150px;
  height: 100px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: forestgreen;
}

.login span {
  padding: 50px;
}
.register {
  display: inline;
  width: 150px;
  height: 100px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: cadetblue;
}
.register span {
  padding: 50px;
}
