/**
 * styles.css
 *
 * App container styles
 */

.container {
  display: block;
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Work Sans', Helvetica, sans-serif;
}

html,
body,
body > div {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
