/**
 * styles.css
 *
 * App container styles
 */

.container {
  display: block;
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Work Sans', Helvetica, sans-serif;
}

html,
body,
body > div {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.shadow-sm {
  box-shadow: 0 1px 6px rgba(0,0,0,.117647),0 1px 4px rgba(0,0,0,.117647);
}